.status {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: red;
}

.active {
    background-color: green;
}

.action-button{
    border-radius: 5px;
    float: right;
    padding: 0;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button .link {
    padding: 10px 10px;
    margin: 0;
    text-decoration: none;

}

.action-button span {
    font-size: 18px;
    font-weight: 900;
    margin-right: 5px;
}

.image-thumb {
    padding: 5px;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.update-button a {
    display: block;
    padding: 10px;
    margin: 0;
}

.rdt-container {
    padding: 20px;
    background-color: #fff;
}

.rdt_TableHeader div:first-child {
    padding: 10px;
    font-size: 38px;
    font-weight: bold;
    color: #666666;
}

.rdt_TableHeadRow > div{
    background-color: #3490dc!important;
    color: #ffffff!important;
}

.rdt_TableRow{
    color: #3490dc!important;
}